<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="../angular.min.js"></script>
        <script src="veiculo.js"></script>
    </head>
    <body>
        <div ng-controller="DisciplinaController" ng-init="iniciar()">

            <div>
                <br>
                ID
                <input type="text" ng-disabled="!isNovo" ng-model="disciplina.id">
                <br>
                Nome
                <input type="text" ng-model="disciplina.nome">
                <br>
                Carga Horaria
                <input type="text" ng-model="disciplina.cargahoraria">
                <br>
                Peso
                <input type="text" ng-model="disciplina.peso">
                <br>
                <button ng-click="salvar()">Salvar</button>
            </div>

            <table border="1">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nome</th>
                        <th>Carga Horaria</th>
                        <th>Peso</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in disciplinas">
                        <td>{{d.id}}</td>
                        <td>{{d.nome}}</td>
                        <td>{{d.caragahoraria}}</td>
                        <td>{{d.peso}}</td>
                        <td>
                            <a href="#" ng-click="excluir(v)">Excluir</a>
                            <a href="#" ng-click="editar(v)">Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </body>
</html>
